// styles.scss

@use '@angular/material' as mat;
@use './custom-palette';

@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

@include mat.core();

@include mat.all-component-themes(custom-palette.$custom-theme);

html,
body {
  height: 100%;
  width: auto;
  padding: 5px;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
