@use '~@angular/material' as mat;
@use './custom-palette' as custom;

@include mat.core();

// Use the custom palette for the theme
@include mat.define-dark-theme(custom.$mat-custom-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
